@media only screen and (min-width: 600px){
    h1{
        font-size: 5rem;
    }

    .top{
        height: 35vh;
    }

    .location{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
      
    .temp{
        font-size: 2rem;
    }
      
    .ChangeValue{
        font-size: 1.2rem;
    }
    
    .bottom p{
        font-size: 1.5rem;
    }

    .humidity > i{
        color: aquamarine;
        font-size: 2rem;
    }
      
    .wind > i{
          font-size: 2rem;
    }
 
    .description{
        font-size: 1.5rem;
        top: 50%;
    }
}

@media only screen and (min-width: 900px){

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    h1{
        top: -6rem;
        font-size: 5rem;
    }

    .top{
        width: 40vw;
        height: 19rem;
    }

    .bottom{
        width: 40vw;
        height: 19rem;
        padding: 0;
        margin: 0;
    } 

    .description{
        font-size: 1.5rem;
        top: 30%;
    }
} 